.DS_Store
.idea
.vscode

.git
.gitignore
.gitattributes

__pycache__

/frontend/*
!/frontend/dist

docker-compose*.yml
.dockerignore
Dockerfile
**/Dockerfile

/docker_volumes

/control.py
/cli

README.md
LICENSE
package.json