x-service: &default-ms
  build:
    context: .
    dockerfile: ./docker/services/Dockerfile
  env_file: &db-environment
    - ./docker/postgres_environment.env
    - ./docker/redis_environment.env
  restart: on-failure

x-worker-service: &default-worker-ms
  build:
    context: .
    dockerfile: ./docker/worker/Dockerfile
  env_file: *db-environment
  restart: on-failure
  volumes:
    - ./checkers/:/checkers/

services:
  worker:
    <<: *default-worker-ms
    environment:
      - SERVICE=worker
      - CHECKERS=${CHECKERS:-1}
      - JOBS=${JOBS:-1}
    depends_on:
      - database
      - cache

  initializer:
    build:
      context: .
      dockerfile: ./docker/initializer/Dockerfile
    env_file: *db-environment
    volumes:
      - ./config.yml:/config.yml:ro
    environment:
      - CONFIG_PATH=/config.yml
    restart: on-failure
    depends_on:
      - database
      - cache

  ticker:
    <<: *default-ms
    environment:
      - SERVICE=ticker
    depends_on:
      - database
      - cache

  api-player:
    <<: *default-ms
    environment:
      - SERVICE=api
    depends_on:
      - ticker
      - database
      - cache

  api-admin:
    build:
      context: .
      dockerfile: ./docker/services/Dockerfile
    env_file:
      - ./docker/services/admin.env
      - ./docker/postgres_environment.env
      - ./docker/redis_environment.env
    restart: on-failure
    environment:
      - SERVICE=admin
    depends_on:
      - ticker
      - database
      - cache

  events:
    <<: *default-ms
    environment:
      - SERVICE=events
    depends_on:
      - ticker
      - database
      - cache

  http-receiver:
    <<: *default-ms
    environment:
      - SERVICE=http_receiver
    depends_on:
      - ticker
      - database
      - cache

  gateway:
    build:
      context: .
      dockerfile: ./docker/nginx/Dockerfile
      args:
        DNS_RESOLVER: 127.0.0.11
    ports:
      - "8080:80"
      - "80:80"
    restart: on-failure
    depends_on:
      - api-player
      - api-admin
      - events
      - http-receiver

  cache:
    image: redis:6.2.5-alpine
    command: [ "sh", "-c", "redis-server --requirepass $$REDIS_PASSWORD" ]
    restart: on-failure
    sysctls:
      net.core.somaxconn: 1024
    env_file:
      - ./docker/redis_environment.env
    ports:
      - "6379:6379"

  database:
    image: postgres:13.4-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./docker/postgres_environment.env
    restart: on-failure
    command: "postgres --max-connections=200"
    ports:
      - "5432:5432"
      - "6432:5432"

volumes:
  postgres_data: